/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

:host {
  display: block;
}

.task-card {
  border-radius: 12px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 12px;
}

a.task-card {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;

  &:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 5%);
    transform: translateY(-1px);
  }
}

.task-card span {
  color: #64748b;
  display: block;
  margin-top: 4px;
}

.task-card em {
  font-style: normal;
  font-weight: 800;
}
