<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<button mat-icon-button [matMenuTriggerFor]="themeMenu" [matTooltip]="'tooltips.Color Schemes' | translate">
  <fa-icon icon="fill-drip" size="lg"></fa-icon>
</button>

<mat-menu class="mifosx-theme-picker-menu" #themeMenu="matMenu" x-position="before">
  <mat-grid-list cols="2">
    @for (preset of presets; track preset.id) {
      <mat-grid-tile>
        <div mat-menu-item (click)="selectPreset(preset)">
          <div class="mifosx-theme-picker-swatch" [matTooltip]="preset.name">
            @if (activePreset === preset.id) {
              <fa-icon class="mifosx-theme-chosen-icon" icon="check-circle" size="lg"></fa-icon>
            }
            <div class="mifosx-theme-picker-primary" [style.background]="preset.primaryLight"></div>
            <div class="mifosx-theme-picker-accent" [style.background]="preset.accentLight"></div>
          </div>
        </div>
      </mat-grid-tile>
    }
  </mat-grid-list>
</mat-menu>
